@using Entities.Concrete
@model List<Recipe>
@{
    ViewData["Title"] = "RecipeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <section id="recipe">
        <div class="container">
            <div class="row">
                <!-- Title -->
            <div class="col-12">
                    <h2>@item.Title</h2>
                </div>
            </div>
            <div class="row vertical-align">
                <div class="col-12">
                    <!-- Picture -->
                <div class="col-md-8 pull-left wow swing">
                        <img src="@item.Image" class="recipe-picture" style="width:520px;height:340px" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Ingredients -->
    <div class="row wow slideInUp" style="display: flex;justify-content: center;">
            <div class="col-8">
                <div class="recipe">
                    <h3>Ingredients</h3>
                    <dl class="ingredients-list">
                       <li>@item.Ingredients</li>
                    </dl>
                </div>
            </div>
        </div>
        <!-- Directions -->
          <div class="row wow slideInUp" style="display: flex;justify-content: center;">
            <div class="col-8">
                <div class="recipe">
                    <h3>Recipe</h3>
                    <dl class="recipe-list">
                       <li>@item.Detail</li>
                    </dl>
                </div>
            </div>
        </div>

        <!-- Back to recipes -->
    <div class="row wow rollIn">
            <div class="col-12 text-center">
                <a href="/Home/Index">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Go to back to recipes.
                </a>
            </div>
        </div>
    </section>
}
