@using Entities.Concrete
@model List<Recipe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="categories">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Categories</h2>
            </div>
        </div>
        <div class="row wow zoomIn">
            @foreach (Category item in ViewBag.categories)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="category-item text-center" style="display:flex; align-items:center; justify-content:center; height:50px">
                        <br />
                        <a href="/CategoryDetailView/CategoryDetailViews/@item.CategoryId" style="color:white">@item.CategoryName</a>
                    </div>
                </div>
            } 
            				
		    <a href="/User/Index/">Admin Panel</a>
		   
        </div>
    </div>
</section>
<section id="items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Recipes</h2>
            </div>
        </div>
        <div class="row">
            @foreach (Recipe item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                    <div class="recipe-item text-center">
                        <a href="/RecipeDetail/RecipeDetails/@item.Id">
                            <img style="width:270px;height:220px" src="@item.Image" />
                        </a>
                        <br />
                        <h3>@item.Title</h3>
                    </div>
                </div>
            }           
        </div>
    </div>
</section>