<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">  
  <partial name="ViewComponents/AdminViewComponent/_AdminStyle"/>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/Adminview/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar (Header)--> 
   <partial name="ViewComponents/AdminViewComponent/_AdminHeader"/>

  <!-- Main Sidebar Container -->
   <partial name="ViewComponents/AdminViewComponent/_AdminSideBar"/>
 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      @RenderBody() 
      @RenderSection("scripts", required: false)
  </div>
  
  <!-- /.content-wrapper (Footer)-->
  <partial name="ViewComponents/AdminViewComponent/_AdminFooter"/>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>

<partial name="ViewComponents/AdminViewComponent/_AdminJavascript"/>

</body>
</html>
